{% load static %}

{% load get_item %}

<!DOCTYPE html>
<html lang="pt-br">

    {% include "./head.html" %}
    
<body class="theme-teal">

    {% include "./pageLoader.html" %}
    <div class="overlay"></div>
    {% include "./topBar.html" %}
    
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 ">
                    <div class="card">
                        <div class="header">
                            <h2>
                                LISTAGEM DE CONTATOS REGISTRADOS
                                <a href="{% url 'RegistrarContato' %}" class="linkTextBold" style="float: right; margin-top: -10px;">
                                    <button type="button" class="btn bg-teal waves-effect linkTextBold">
                                        <i class="material-icons">add</i>
                                        <span>NOVO REGISTRO</span>
                                    </button> 
                                </a>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                {% if contatos|length == 0 %}
                                <br>
                                <h2 style="color: red; text-align: center;">NÃO HÁ REGISTROS!</h2>
                                {% else %}
                                
                                <h4 style="color: #17a2b8; text-align: center;">
                                    <i class="material-icons">info</i>
                                    <span>Clique no título da coluna para ordenar</span>
                                </h4>
                                <hr/>
                                <h4 style="margin-bottom: -5px; color: #444444;">Exportar Registros</h4>
                                <br/>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOME COMPLETO</th>
                                        <th>E-MAIL</th>
                                        <th>TELEFONE</th>
                                        <th>EDITAR | DELETAR</th>
                                    </tr>
                                </thead>
                                {% comment %} 
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOME COMPLETO</th>
                                        <th>E-MAIL</th>
                                        <th>TELEFONE</th>
                                        <th>EDITAR | DELETAR</th>
                                    </tr>
                                </tfoot>
                                {% endcomment %}
                                <tbody>
                                    {% for contato in contatos %}
                                    <tr>
                                        <td>
                                            <strong>{{ contato|get_item:'_id' }}</strong>
                                        </td>
                                        <td>{{ contato.nome }}</td>
                                        <td>{{ contato.email }}</td>
                                        <td>{{ contato.telefone }}</td>
                                        <td>
                                            <a href="{% url 'AtualizarContato' contato|get_item:'_id' %}">
                                                <button type="button" class="btn bg-cyan waves-effect">
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                            </a>                          
                                            <button type="button" class="btn bg-red waves-effect" onClick="ConfirmarDelete('{{ contato|get_item:'_id' }}')">
                                                <i class="material-icons">delete_forever</i>
                                            </button>
                                        </td>
                                    </
                                    {% endfor %}
                                    <br>
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    {% include "./scripts.html" %}
</body>