<!-- Top Bar -->
<nav class="navbar" >
    <div class="container-fluid">
        <div class="navbar-header header1">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a class="navbar-brand" href="../" style="padding-top: 5px;">
                <strong style="font-size: 20pt;">Django & MongoDB</strong><br>
                <em>Agenda de Contatos</em>
            </a>
        </div>
        <div class="navbar-header header2" align="center" style="margin-left: 10%; color: #fff;">
            <strong style="font-size: 20pt;">Bacharelado em Sistemas de Informação - BSI/UFRN</strong><br>
            <em style="text-align: center;">Projeto e Administração de Banco de Dados</em>
        </div>
    </div>
</nav>
<!-- FIM do Top Bar -->